*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  overflow-x: hidden;
  background-color: snow;
}

.chordsList {
  list-style: none;
  display: flex;
  justify-content: center;
}

.chord{
  margin: 1rem;
}

/* chord/card styling itself */
.theChord{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid steelblue;
  border-radius: 4px;
  max-width: 200px;
}

/* puts chords in a row, creates horizonal scroll bar, turn off x overflow on body to  prevent this */
.chordSliderWrapper{
  display: flex;
  transition: all .3s cubic-bezier(1,.61,.84,1.01);
} 

/* .card children which are flexbox children */
.chordSliderWrapper .card{
  flex: 1; 
  margin: 10px;
}

.chordSlider{
  position: relative;
  max-width: 250px;
  margin: 0 auto;
}

/* created the active boarder around current card */
.chordSlider:after{
  content: "";
    width: 100%;
    height: 295px;
    /* background-color: slategrey; */
    border: 3px solid rgb(39, 49, 150, .4);
    box-sizing: border-box;
    border-radius: 10px;
    left: 0;
    position: absolute;
    display: block;
    top: 10px;
    z-index: -110;
}

.chordTitle{
  margin: 0;
  padding-top: .5rem;
  /* color: grey; */
  color: slategrey;
  font-size: 3rem;
  font-family:  'Oswald', sans-serif;

}

.title{
  font-family:  'Oswald', sans-serif;
  font-size: 3rem;
  margin: 0;
  color: rgb(87, 87, 87);
  letter-spacing: 2px;
  text-shadow: 2px 4px 3px rgba(0,0,0, .3)
}

/* card styling for all cards NOT the active card  */
.card{
  opacity: .4;
  margin:  50px;
  transform: scale(0.7);
  transition: all .3s cubic-bezier(1,.61,.84,1.01);
}


/* active card styling, probably a better DRY way to do this but for the time being it works */
.activeSlide-0 .cardActive0,
.activeSlide-1 .cardActive1,
.activeSlide-2 .cardActive2,
.activeSlide-3 .cardActive3,
.activeSlide-4 .cardActive4,
.activeSlide-5 .cardActive5,
.activeSlide-6 .cardActive6{
  font-size: 30px;
  opacity: 1;
  transform: scale(1);
  transition: all .3s cubic-bezier(1,.61,.84,1.01);
}


.nextPrevBtn{
  margin-top: 1.4rem;
}

