.App {
  text-align: center;
}

.chordsList {
  list-style: none;
  display: flex;
  justify-content: center;
}

.chord{
  margin: 1rem;
}

.fadeOut{
  background-color: rgb(255, 0, 0);
  color: white;
}

